/* Loader.css */
.loader {
    border: 2px solid #f3f3f3; /* Light gray */
    border-top: 2px solid #ff3e3e; /* Red */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
